@media only screen and (max-width: 990px) {
    .logo{
        padding-left: 5px;
    }
   header{
    padding: 20px ;
   } 

   header label{
    display: initial;
   }

   header .navbar{
    position: absolute;
    top:100%; left:0; right:0;
    background:black;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    
   }
  
   header .navbar ul li{
    width: 100%;

   }
   header .navbar ul li ul{
    position:relative;
    width:100%;
   

}

header .navbar ul li ul li ul{
    width:100%;
    left:0;
}
#menu-bar:checked ~.navbar{
    display: initial;
}


}
